.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 0;
  }
  
  .cardContent {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    flex: 1;
    max-width: 300px;
  }
  
  .h2 {
    font-size: 2.5rem;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .h3 {
    font-size: 20px;
    padding: 1rem;
  }

  .h3price {
    padding-bottom: 2rem;
  }
  
  .p {
    font-size: 16px;
    padding: 1rem;
  }
  
  .promo {
    font-size: 16px;
    padding: 1rem;
    color: #20c997;
    font-weight: bold;
  }