

.header {
    text-align: center;
    background-color: #6C757d;
}

.headerText {
    z-index: 1;
    font-size: 2rem;
    padding: 2rem;
}


.textContainer {
    text-align: center;
    padding: 2rem 8rem;
    font-size: 1rem;
}

.textContainer ul li {
    text-align: start;
}

@media (max-width: 768px) {
    .textContainer {
        padding: 2rem 2rem;
    }
}